<h1 class="mat-dialog-title"><mat-icon>inbox</mat-icon> {{computerName}}</h1>
<div mat-dialog-content>
  <h1></h1>
  <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="label">
          <mat-cell *matCellDef="let row">{{row.label}}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="'column'+i" *ngFor="let column of dataRaw; let i=index">
          <mat-cell *matCellDef="let row">{{row['column'+i]}}</mat-cell>
      </ng-container>

          <!--td>{{computerFullModel.lastUpdate | date: 'dd.MM.yyyy'}} {{computerFullModel.lastUpdate | date: 'mediumTime'}}</td-->

      <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
  </mat-table>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="close()">Закрыть</button>
</div>
