<h1 class="mat-dialog-title"><mat-icon>list</mat-icon>{{computerName}}</h1>
<mat-dialog-content class="mat-typography">

    <div fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Поиск">
        </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Имя
            </mat-header-cell>
            <mat-cell *matCellDef="let column">{{column.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="displayName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Описание
            </mat-header-cell>
            <mat-cell *matCellDef="let column">{{column.displayName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startMode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Режим
            </mat-header-cell>
            <mat-cell *matCellDef="let column">{{column.startMode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Состояние
            </mat-header-cell>
            <mat-cell *matCellDef="let column">{{column.state}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['name','displayName','startMode','state']; sticky:true"></mat-header-row>
        <mat-row *matRowDef="let row; columns:['name','displayName','startMode','state'];"></mat-row>

    </mat-table>
    <!--mat-paginator  [pageSize]="10" [pageSizeOptions]="[ 10 , 20]">
    </mat-paginator-->
</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-raised-button (click)="close()">Закрыть</button>
</div>
